.welcome {
    background-color: rgba(255, 255, 255, .2);
    margin: 16px 24px 16px 0;
    float: left;
    color: white;
    width: 150px;
    height: 31px;
    line-height: 31px;
}

.loadingSpin {
    font-size: 2em;
    display: block;
    margin: 0 auto;
    padding-top: 100px;
}

.noMatchCard {
    text-align: center;
    display: table;
    margin: 0 auto;
}

.noMatchCard .title {
    color: #f50;
    font-size: 1.2em;
}

.center {
    text-align: center;
    display: block !important;
    margin: 0 auto;
}

.margin-top {
    margin-top: 20px !important;
}

.margin-bottom-small {
    margin-bottom: 5px !important;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-left {
    margin-left: 20px;
}

.margin-right {
    margin-right: 20px;
}

.large {
    font-size: 1.2em;
}

.small {
    font-size: 0.8em;
}